body{
background:#0b141a;
color:white;
font-family:sans-serif;
}

input{
padding:10px;
margin:5px;
}

button{
padding:10px;
background:#25d366;
border:none;
color:white;
}

#messages{
height:400px;
overflow:auto;
background:#111b21;
padding:10px;
}